
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.item--FbQ {
  position: relative;
  align-items: center;
  flex-direction: column;
  background-color: #496e55;
  overflow: hidden;
  padding: 1.2rem 45.5rem 4.8rem 46.5rem;
  width: 100%;
  display: flex;
  box-sizing: border-box;

  .group-4-xEv {
    margin: 0rem 4.4rem 3.134rem 3.4rem;
    width: calc(100% - 7.8rem);
    height: 29.6658rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-6-54e {
      position: absolute;
      left: 11.5478rem;
      top: 1.1946rem;
      background-color: #e8e5dd;
      border-radius: 3.9rem;
      width: 21.005rem;
      height: 21.005rem;
    }
    .rectangle-7-bYn {
      width: 18.5162rem;
      height: 18.5162rem;
      position: absolute;
      left: 12.8419rem;
      top: 2.4887rem;
      background-color: #496e55;
      border-radius: 3rem;
    }
    .rectangle-3-8Hp {
      top: 1.1946rem;
      background-color: #496e55;
      width: 7.964rem;
      height: 21.005rem;
      position: absolute;
      left: 18.118rem;
    }
    .rectangle-4-GQ2 {
      background-color: #496e55;
      width: 21.005rem;
      height: 7.964rem;
      position: absolute;
      left: 11.5478rem;
      top: 7.7649rem;
    }
    .s-m-a-r-t-g-u-i-d-e-PzS {
      height: 5.1rem;
      align-items: center;
      font-size: 4rem;
      line-height: 1.2575;
      display: flex;
      justify-content: center;
      left: 8.45rem;
      top: 23.9302rem;
      font-weight: 400;
      color: #e8e5dd;
      font-family: Agency FB, 'Source Sans Pro';
      white-space: nowrap;
      width: 27.3rem;
      position: absolute;
    }
    .add-fSA {
      height: 6.3rem;
      position: absolute;
      left: 17.15rem;
      color: #e8e5dd;
      width: 9.9rem;
      justify-content: center;
      font-family: Agency FB, 'Source Sans Pro';
      top: 18.9998rem;
      font-weight: 400;
      white-space: nowrap;
      display: flex;
      align-items: baseline;
      font-size: 5rem;
      line-height: 1.2575;

      .add-fSA-sub-0 {
        color: #e8e5dd;
        font-family: Agency FB, 'Source Sans Pro';
        font-size: 5rem;
        font-weight: 400;
        line-height: 1.2575;
      }
      .add-fSA-sub-1 {
      }
      .add-fSA-sub-2 {
        font-family: Agency FB, 'Source Sans Pro';
        font-size: 5rem;
        font-weight: 400;
        line-height: 1.2575;
        color: #e8e5dd;
      }
    }
    .group-1-8j4 {
      object-fit: contain;
      vertical-align: top;
      width: 14.4347rem;
      height: 14.3351rem;
      position: absolute;
      left: 14.8329rem;
      top: 4.5793rem;
    }
  }
  .auto-group-jigj-3b8 {
    align-items: center;
    display: flex;
    background-color: #e8e5dd;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 2rem 2rem 1.7rem 2rem;
    width: 100%;
    flex-direction: column;
    border-radius: 4.5rem;

    .auto-group-bc5g-N7c {
      flex-shrink: 0;
      margin-bottom: 2rem;
      justify-content: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('REPLACE_IMAGE:30:36');
      width: 100%;
      line-height: 1.2925;
      color: #b1905f;
      white-space: nowrap;
      display: flex;
      align-items: center;
      height: 7.2rem;
      font-size: 4rem;
      font-weight: 700;
      font-family: PT Sans, 'Source Sans Pro';
    }
    .auto-group-owja-EQi {
      justify-content: center;
      background-size: cover;
      width: 100%;
      height: 7.2rem;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.2925;
      color: #ffffff;
      white-space: nowrap;
      background-image: url('REPLACE_IMAGE:30:31');
      margin-bottom: 2rem;
      background-position: center;
      flex-shrink: 0;
      background-repeat: no-repeat;
      align-items: center;
      font-family: PT Sans, 'Source Sans Pro';
      display: flex;
    }
    .auto-group-mv4n-iKt {
      margin-bottom: 2rem;
      font-size: 2rem;
      color: #ffffff;
      background-position: center;
      flex-shrink: 0;
      display: flex;
      justify-content: center;
      font-weight: 400;
      line-height: 1.2925;
      background-repeat: no-repeat;
      height: 7.2rem;
      align-items: center;
      font-family: PT Sans, 'Source Sans Pro';
      white-space: nowrap;
      background-size: cover;
      width: 100%;
      background-image: url('REPLACE_IMAGE:30:30');
    }
    .auto-group-93mc-CF4 {
      font-size: 2rem;
      white-space: nowrap;
      margin-bottom: 2rem;
      width: 100%;
      font-weight: 400;
      background-image: url('REPLACE_IMAGE:30:29');
      flex-shrink: 0;
      display: flex;
      align-items: center;
      background-size: cover;
      background-repeat: no-repeat;
      justify-content: center;
      line-height: 1.2925;
      font-family: PT Sans, 'Source Sans Pro';
      background-position: center;
      height: 7.2rem;
      color: #ffffff;
    }
    .rectangle-9-gg2 {
      flex-shrink: 0;
      margin-bottom: 1.7rem;
      width: 48rem;
      height: 7.2rem;
      object-fit: contain;
      vertical-align: top;
      border-radius: 6.7rem;
    }
    .auto-group-4zne-oke {
      position: relative;
      flex-shrink: 0;
      width: 100%;
      height: 7.8rem;

      .rectangle-8-ZUv {
        width: 48rem;
        height: 7.2rem;
        position: absolute;
        left: 0;
        top: 0.3rem;
        object-fit: contain;
        vertical-align: top;
        border-radius: 6.7rem;
      }
      .item--6Ur {
        color: #496e55;
        width: 17.1rem;
        top: 0;
        align-items: center;
        display: flex;
        justify-content: center;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2925;
        height: 7.8rem;
        position: absolute;
        left: 15rem;
        font-family: PT Sans, 'Source Sans Pro';
      }
    }
  }
}
